
#toggle{
  text-decoration: underline;
}

#holder {
  display: grid;
  grid-template-columns: 90vh 1fr;
  margin: 3vh 5vh 0 5vh;
  grid-gap: 2vh;
}

#grid {
  display: grid;
  width: 90vh;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}

img {
  width: 100%;
  height: 100%;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}

#left {
  width: 90vh;
}
#text {
  text-align: left;
  padding-bottom: 20px;
}

@media  (orientation:portrait) {
  #holder {
    grid-template-columns: 1fr;
  }
  #grid {
    width: 90vw;
    height: 90vw;
  }
  #left {
    width: 90vw;
  }
}





