body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: blue;
}

a {
	color:blue;
}

/*red, lime, blue, cyan, magenta, yellow, grey*/

.box {
	width: 45vw;
	height: 55vh;
	border:2.5vw solid white;
	border-radius: 2%;
	top: 27%;
	left: 25%;
	position: fixed;
	z-index: 2;
}

.triangle {
	top: 23%;
	left: 38%;
	font-size: 1250%;
	color: white;
	position: fixed;
	z-index: 5;
}

.note {
	width: 15vw;
	height: 25vh;
	border: solid red;
	border-radius: 50%;
	background-color: red;
	top:20%;
	left: 60%;
	position: fixed;
	z-index: 7;
	animation: apear 0.5s infinite;
}

@keyframes apear {
	from {opacity: 0;}
	to {opacity:100%;}
}

.sky {
	width:100%;
	height:50%;
	background-color:blue;
	top:0;
	left:0;
	position: absolute;
}

.ground{
	width:100%;
	height:50%;
	background-color:brown;
	bottom:0;
	left:0;
	position: absolute;
}

.seed{
	width: 15vw;
	height: 25vh;
	border: 2vw solid black;
	border-radius: 45%;
	background-color: lime;
	top:66.66%;
	left:40%;
	position: fixed;
	z-index: 7;
}

.sprout{
 width: 0px; 
 height: 0px; 
 border-left: 5vw solid transparent;
 border-right: 5vw solid transparent;
 border-bottom: 15vw solid lime;
 top:50%;
 left:41.5%;
 position: absolute;
 z-index: 9;
}

@keyframes pulse_animation {
    0% { transform: scale(0.5,1); }
    30% { transform: scale(0.5,1.3); }
    40% { transform: scale(0.5,1.5); }
    50% { transform: scale(0.5,1.7); }
    60% { transform: scale(0.5,1.7); }
    70% { transform: scale(0.5,1.5); }
    80% { transform: scale(0.5,1.3); }
    100% { transform: scale(0.5,1); }

}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
